services:
  Adguard:
    image: adguard/adguardhome:latest
    container_name: Adguard
    restart: unless-stopped
    hostname: adguard
    ports:
      - 53:53/tcp
      - 53:53/udp
    networks:
      - Adguard
    volumes:
      - ${DOCKER_VOLUMES}/Adguard/work:/opt/adguardhome/work
      - ${DOCKER_VOLUMES}/Adguard/config:/opt/adguardhome/conf
# Assumes you have already created a Docker Network called 'Adguard' (ex 'docker network create Adguard')
networks:
  Adguard:
    name: Adguard
    external: true